@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }

  .signupModal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
  }

  .section {
    margin-top: 20px;
    h2 {
      box-sizing: border-box;
      clear: both;
      color: rgb(51, 51, 51);
      height: 22px;
      overflow-wrap: break-word;
      width: 790px;
      word-break: break-word;
      word-wrap: break-word;
      column-rule-color: rgb(51, 51, 51);
      perspective-origin: 395px 11px;
      transform-origin: 395px 11px;
      border: 0px none rgb(51, 51, 51);
      font: normal normal 600 normal 20px / 22px Raleway, Helvetica, Arial, sans-serif;
      margin: 0px 0px 15px;
      outline: rgb(51, 51, 51) none 0px;
    }
    p {
      box-sizing: border-box;
      color: rgb(119, 119, 119);
      height: 23px;
      overflow-wrap: break-word;
      width: 790px;
      word-break: break-word;
      word-wrap: break-word;
      column-rule-color: rgb(119, 119, 119);
      perspective-origin: 395px 11.5px;
      transform-origin: 395px 11.5px;
      border: 0px none rgb(119, 119, 119);
      font: normal normal normal normal 14px / 23.8px "Open Sans", Helvetica, Arial, sans-serif;
      margin: 0px 0px 15px;
      outline: rgb(119, 119, 119) none 0px;
      display: inline-block;
    }

    span {
      box-sizing: border-box;
      color: rgb(119, 119, 119);
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;
      column-rule-color: rgb(119, 119, 119);
      border: 0px none rgb(119, 119, 119);
      font: normal normal normal normal 14px / 23.8px "Open Sans", Helvetica, Arial, sans-serif;
      outline: rgb(119, 119, 119) none 0px;
      display: inline;
    }

    ol {
      list-style: decimal;
    }
  }
}
.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .signupButton {
    background: rgb(46, 200, 102);
    font: normal normal 500 normal 18px / normal "Whitney SSm A", "Whitney SSm B", Avenir, "Segoe UI", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 1px solid $cyan;
    box-shadow: inset 0 0 10px $cyan;
    vertical-align: middle;
    background: #ffffff;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  
  .partnerContainer {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  
  .timeContainer {

  }
  
  .description {

  }
  h1 {
    color: $cyan;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
}

