.problem {
  margin-top: 10px;
  margin-bottom: 20px;
  .title {
    font-size:1.75em;
  }
  .description {
    font-size:1.25em;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .viewSubmissions {
  }
}
